@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: linear-gradient(90deg, #8d230f, #c99e10);
    font-family: 'Poppins', sans-serif;
    color: #1e434c;
}

input {
    font-family: 'Poppins', sans-serif;
    color: #1e434c;
}

input[type="button"] {
    cursor: pointer;
    border: none;
}

li {
    list-style-type: none;
}

.to-do-app {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 7px solid #1e434c;
    border-radius: 10px;
    background-color: #9b4f0f;
    box-shadow: 0px 5px 10px 0px #1e434c;
    filter: brightness(1.20);
    padding: 0;
    overflow: hidden;
}

.task-input {
    display: flex;
    flex-direction: row;
}

.task-input input[type="text"] {
    width: 90%;
    border: none;
    outline: none;
    height: 30px;
}

.task-input input[type="button"] {
    width: 10%;
}

.tasklist-options {
    display: flex;
    flex-direction: row;
}

.tasklist-options input {
    width: 25%;
}

.tasklist ul {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0px;
}

.tasklist ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    margin-bottom: 8px;
    background: transparent;
    border-radius: 6px;
    border-bottom:3px solid #1e434c;
}

.tasklist ul li span {
    font-size: 30px;
}

.tasklist ul li button {
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.tasklist ul li img {
    width: 30px;
    height: 30px;
}

